*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, white,rgb(121, 180, 244), rgb(107, 222, 132));
    background-repeat: no-repeat;
}

.container{
    width: 1000px;
    margin: 40px auto;
    background-color: rgba(203, 255, 236, 0.883);
    border: 1px solid black;
    box-shadow: 1px 2px 5px;
}

h1{
    text-align: center;
    padding-top: 15px;
}

.list{
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

li{
    border-radius: 50px ;
    margin: 5px;
    padding: 10px;
    border: 2px dotted black;
    width: 300px;
    text-align: center;
}

li:hover{
    background-color: cadetblue;
}